.slider2{
    text-align: center;
    padding: 1rem 0;

    &__image{
        width: 100%;
        aspect-ratio: 1 / 0.65;
        object-fit: cover;
        margin: 1rem 0;
    }

    &__list{
        display: flex;
        gap: 1rem;
        justify-content: center;
        padding: 1rem 0;

        &-button{
            background: transparent;
            border: 1px solid rgb(197, 197, 197);
            border-radius: 9999px;
            height: 50px;
            width: 50px;
            color: white;

            &--selected{
                background: white;
                border: 1px solid white;
                color: black;
            }
        }
    }

    &__content{
        padding: 1rem;

        &-title{
            font-size: 2rem;
            text-transform: uppercase;   
            font-family: "bellefair", sans-serif;
            font-weight: 400;
            padding: 1.5rem;
        }

        &-description{
            color: #D0D6F9;
            line-height: 1.6rem;
        }

        &-subtitle{
            font-size: 1.4rem;
            color: #a3a3a3;
        }
    }
}