*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "barlow", sans-serif;

    @media screen and (min-width:750px) {
        font-size: 18px;
    }

    @media screen and (min-width:1200px) {
        font-size: 20px;
    }
}

#root{
    padding-bottom: 1rem;

    @media screen and (min-width:1200px) {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 7rem;
    }
}